<ion-view>
	<ion-nav-title>
		<div class="rd-navbar-brand">
			<a href="#/app/dashboard" class="brand-name primary-color">
				<span class="icon icon-md icon-primary"><i class="icon ion-ios-home"></i></span>
				<h1 style="top: -10px;"><span>Life</span><span class="text-primary">Line</span></h1>
			</a>
		</div>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="padding has-header landing_bg">

		<div style="text-align: center;">
			<p>Save the app that could save your love one.</p>
			<img src="./img/heart-rate.png" height="120px">
			<div>
				<div class="row">
					<div class="col"> 
					<span class="icon icon-xl icon-grayscale-darken  ion-lightbulb">
	          			<p class="big">
							Emergency
						</p>
		          	</span>
		        	</div>
					<div class="col">
		            <a href="#/app/BBlist">
		                <span class="icon icon-xl icon-grayscale-darken  ion-waterdrop">
		          		<p class="big">
							Blood Banks
						</p>
			            </span>
			        </a>
		          	</div>
				</div>
				<div class="row">
					<div class="col">
					<a ng-Click="onClickHospitality('Hospitals')"> 
					<span class="icon icon-xl icon-grayscale-darken  ion-medkit">
			            <p class="big">
							Hospitals
						</p>
			        </span>
			        </a>
			        </div>
					<div class="col"> 
					<a ng-Click="onClickHospitality('Doctors')">
					<span class="icon icon-xl icon-grayscale-darken  ion-speakerphone">
			            <p class="big">
							Doctors
						</p>
			        </span>
			        </a>
			        </div>
				</div>
				<div class="row">
					<div class="col">
					<a ng-Click="onClickHospitality('Dentist')"> 
					<span class="icon icon-xl icon-grayscale-darken  ion-medkit">
			            <p class="big">
							Dentist
						</p>
			        </span>
			        </a>
			        </div>
					<div class="col"> 
					<a ng-Click="onClickHospitality('Pharmacy')">
					<span class="icon icon-xl icon-grayscale-darken  ion-speakerphone">
			            <p class="big">
							Pharmacy
						</p>
			        </span>
			        </a>
			        </div>
				</div>
				<div class="row">
					<div class="col">
					<a> 
					<span class="icon icon-xl icon-grayscale-darken  ion-medkit">
			            <p class="big">
							Help me
						</p>
			        </span>
			        </a>
			        </div>
					<!-- <div class="col"> 
					<span class="icon icon-xl icon-grayscale-darken  ion-speakerphone">
			            <p class="big">
							pharmacy
						</p>
			        </span>
			        </div> -->
				</div>
			</div>
		</div>


	</ion-content>
</ion-view>