<ion-view>
	<ion-nav-title>
		<div class="rd-navbar-brand">
			<a href="#/app/dashboard" class="brand-name primary-color">
				<!-- <span class="icon icon-md icon-primary"><i class="icon ion-ios-home"></i></span> -->
				<h1><span>Life</span><span class="text-primary">Line</span></h1>
			</a>
		</div>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="padding has-header landing_bg">

		<div style="text-align: center;">
			<p>Save the app that could save your love one.</p>
			<img src="./img/heart-rate.png" height="95px">
			<div>
				<div class="row">
					<div class="col"> 
					
		        	</div>
					<div class="col">
		            <a ng-Click="onClickEmergency()">
					<span class="icon icon-xl icon-grayscale-darken">
						<img src="./img/emergencyHome.png" >
	          			<p class="big" style=" margin-top: -25px;">
							Emergency
						</p>
					
		          	</span>
		          	</a>
		          	</div>
		          	<div class="col">
					
			        </div>
				</div>
				<div class="row">
					
					<div class="col"> 
					<!--<a ng-Click="onClickHospitality('Doctors')">-->
						<!--<a href="#/app/doctors">-->
						 <a  href="#" onclick="window.open('https://www.practo.com/', '_blank','location=no'); return false;">
					<span class="icon icon-xl icon-grayscale-darken  ion-person-stalker">
			            <p class="big">
							Doctors
						</p>
			        </span>
			        </a>
			        </div>
			        <div class="col">
		            <a ng-Click="onClickHospitality('Hospitals')"> 
					<span class="icon icon-xl icon-grayscale-darken  ion-medkit">
			            <p class="big">
							Hospitals
						</p>
			        </span>
			        </a>
		          	</div>
			        <div class="col">
		            <a href="#/app/BBlist">
		                <span class="icon icon-xl icon-grayscale-darken  ion-waterdrop">
		          		<p class="big">
							Blood Banks
						</p>
			            </span>
			        </a>
		          	</div>
				</div>

				<div class="row">
					<div class="col">
					
			        </div>
					<div class="col"> 
					<a ng-Click="onClickForHelp()">
					<span class="icon icon-xl icon-grayscale-darken  ion-speakerphone">
			            <p class="big">
							Help me
						</p>
			        </span>
			        </a>
			        </div>
			        <div class="col">
					
			        </div>
				</div>
				
			</div>
		</div>


	</ion-content>

	<!-- The Modal -->
    <div id="myModal" class="modal" ng-show="isShowModal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" ng-click="onClickCloseModal()">&times;</span>
          <!-- <h2>&nbsp;</h2> -->
        </div>
        <div class="modal-body">
          <img style="height: 80px;width: 80px;" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS8IHLq0XmNy2xm-vbTZgjjQW5f2KFsv5VxSoL4xTdvShi4gHiF2qXEsQ">
          <h3 style="text-transform: capitalize;" ng-bind-html="modalTitle | unsafe"></h3>
          <div class="popup-body-content" ng-bind-html="modalDesc | unsafe"></div>
        </div>
        <div class="modal-footer">
          <button class="btn" ng-click="onClickShare('popup')">Share with Friends</button>
        </div>
      </div>

    </div>


</ion-view>