<ion-view>
    <ion-nav-title>
        <div class="rd-navbar-brand">
            <a href="#/app/dashboard" class="brand-name primary-color">
                <!-- <span class="icon icon-md icon-primary"><i class="icon ion-ios-home"></i></span> -->
                <h1><span>Emergency</span><span class="text-primary">Helpline</span></h1>
            </a>
        </div>
    </ion-nav-title>
    <ion-nav-back-button class="button-clear go-back">
    </ion-nav-back-button>
    <ion-content class="has-header">
        <ion-list>
            <div>
                <div ng-repeat="item in emergencyList| orderBy:'description'">
                    <div class="card emergencylistcard">
                            <div class="item item-divider">
                                <div>
                                   <div class="custom-android-textsms set-height emergencywordwrap">
                                        {{item.description}}
                                   </div>
                                   <div style="width:100px"><a href="tel:{{item.helpline}}"><i class="icon ion-ios-telephone custom-ios-telephone" style="font-size: 16px;padding-right: 6px;"></i> {{item.helpline}} </a>
                                   </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            
        </ion-list>
    </ion-content>
</ion-view>