<ion-view>
    <ion-nav-title>
        <div class="rd-navbar-brand">
            <a href="#/app/dashboard" class="brand-name primary-color">
                <!-- <span class="icon icon-md icon-primary"><i class="icon ion-ios-home"></i></span> -->
                <h1><span> Help Me </span></h1>
            </a>
        </div>
    </ion-nav-title>
    <ion-nav-back-button class="button-clear go-back">
    </ion-nav-back-button>
    <ion-content class="has-header">
        
        <ion-list>
            <div style="text-align: center;padding-top: 10%;font-size: 20px;">
                Shake your phone <br />or <br /> Press below image for help.
            </div>

            <div style="text-align: center;padding-top: 30%;">
                <img ng-Click="shakeHandler()" src="../img/helpMe.png" style="height: 200px;border-radius: 50%;background-color: lightgray;box-shadow: 0 0 3px #800505;" />
            </div>
        </ion-list>

    </ion-content>
</ion-view>