<ion-view view-title="Manage Information">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="height:80%">
       		
			<div class="list">
				<h4 style="padding-left: 15px;">Personal Information</h4>
				<label class="item item-input item-stacked-label">
			    <div class="input-customlabel"> Name</div>
			    <input type="text" placeholder="John">
			    </label>
				<label class="item item-input item-stacked-label">
			    <div class="input-customlabel">Mobile</div>
			    <input type="text" placeholder="1234567890">
			    </label>
				<label class="item item-input item-stacked-label">
			    <div class="input-customlabel">Email</div>
			    <input type="text" placeholder="john@xxx.com">
			    </label>
				<label class="item item-input item-stacked-label">
			    <div class="input-customlabel">Blood Group(Optional)</div>
			     <select class="tour-Select">
			      <option selected>O +</option>
			      <option >O -</option>
			      <option>A +</option>
			      <option>A -</option>
			      <option>B +</option>
			      <option>B -</option>
			      <option>AB +</option>
			      <option>AB -</option>
			    </select>
			    </label>
			</div>

			<div class="list">
				<h4 style="padding-left: 15px;">Emergency Contact Information</h4>
				<label class="item item-input item-stacked-label">
			    <div class="input-customlabel">Contact 1:</div>
			    <input type="text" placeholder="1234567890">
			    </label>
			    <label class="item item-input item-stacked-label">
			    <div class="input-customlabel">Contact 2:</div>
			    <input type="text" placeholder="1234567890">
			    </label>
			    <label class="item item-input item-stacked-label">
			    <div class="input-customlabel">Contact 3:</div>
			    <input type="text" placeholder="1234567890">
			    </label>
			    <label class="item item-input item-stacked-label">
			    <div class="input-customlabel">Contact 4:</div>
			    <input type="text" placeholder="1234567890">
			    </label>
			    <label class="item item-input item-stacked-label">
			    <div class="input-customlabel">Contact 5:</div>
			    <input type="text" placeholder="1234567890">
			    </label>
			</div>
    
  </ion-content>
  <a href="#/app/dashboard">
		<div class="bottomButton">
			Save
		</div>
  </a>
</ion-view>