<ion-view view-title="LifeLine">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding has-header landing_bg">
    
    <div style="text-align: center;">
      <p>Save the app that could save your love one.</p>
      <img src="./img/heart-rate.png" height="120px">
    <div>

    <div class="lending-content">
        <div class="innner-div">text</div>
        <div class="innner-div">text</div>
        <div class="innner-div">text</div>
    </div>
    
  </ion-content>
</ion-view>
