#tour-view .slider {
height: 100%;
}
#tour-view .slider-slide {
padding-top: 0;
text-align: center;
}
#tour-view .icon-slide {
font-size: 20em;
display: inline-block;
}
.input-customlabel
{
    text-align: left
}
.tour-Select{
        float: left;
    width: 98%;
    height: 40px;
}
.tour-submit
{
    height: 40px;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 23px;
    position: fixed;
    bottom: 60px;
    background-color: #f8796c;
}

.tour-text {
    font-size: 28px;
    line-height: 35px;
}

.img-100px{
    height: 100px;
    width: 100px
}
